{
	"extends": "airbnb-base",
	"parserOptions": {
		"exmaVersion": 6
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"comma-dangle": [
			"error", 
			"never"
		],
		"no-unused-vars": [
			"error",
			{
				"vars": "local",
				"args": "none"
			}
		],
		"no-tabs": 0,
		"indent": [
			"error", 
			"tab"
		],
		"no-console": [
			"error", 
			{ 
				"allow": [
					"warn", 
					"error",
					"log"
				] 
			}
		],
		"max-len": [
			"error", 
			{ 
				"code": 100,
				"tabWidth": 2,
				"ignoreComments": true
			}
		]
	}
}